/* NavigationBar.css */

/* Common styles */
.navigation-bar {
  width: 60%;
  min-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  position: sticky; /* Make the navigation bar sticky */
  top: 15px; /* Leave a 10px space above */
  z-index: 1000; /* Ensure it is on top of other elements */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect for the frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for the frosted glass look */
}

.navigation-bar.light {
  background: rgba(255, 255, 255, 0.2); /* Light mode frosted glass background */
}

.navigation-bar.dark {
  background: rgba(24, 24, 27, 0.2); /* Dark mode frosted glass background */
}

.left-section {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.right-section {
  display: flex;
  gap: 15px;
}

.name {
  margin: 0;
  font-size: 1.5rem;
  color: #333; /* Light mode text color */
}

.navigation-bar.dark .name {
  color: #eee; /* Dark mode text color */
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.glow:hover {
  filter: drop-shadow(0px 0px 20px rgba(199, 0, 234, 0.7)); /* Glow effect on hover */
}
